<footer class=" bg-body-light py-3">

	<div class="container justify-content-between mt-5">
		<div class="row">
			<div class="col-5">
				<h3>My TimeLine</h3>
				<p>
					<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse eos totam tempora beatae laborum assumenda at ipsam, ipsa, ducimus accusantium fugit omnis ad quam iusto deleniti asperiores aut dolor debitis!</span>
				</p>
			</div>
			<div class="col-5 offset-2">
				<p>Mentions Légales</p>
				<p>Contact</p>
				<div class="row justify-content-between col-md-3">
					<a href="https://www.youtube.com/"><img src="/images/youtube.png" alt="youtube" class="img-fluid rs-logo"></a>
					<a href="https://www.twiiter.com/"><img src="/images/twitter.png" alt="twitter" class="img-fluid rs-logo"></a>
				</div>
			</div>
		</div>
		<p class="text-center">Copyright MBA</p>
	</div>


</footer>
