<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
        <title>{% block title %}Bienvue sur MyTimeLine{% endblock %}</title>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <link title="timeline-styles" rel="stylesheet" href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% include "partials/header.html.twig" %}

    {% block body %}{% endblock %}

    {% include "partials/footer.html.twig" %}


    
    {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>




