{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur MyTimeLime
{% endblock %}

{% block body %}
	<div class="container py-5">
		{# Carousel New TM #}
		<h1 class="text-center pt-3">Nouveautés</h1>
		<div id="carousel-new" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators carousel-indicators-custom">
				<li data-target="#carousel-new" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-new" data-slide-to="1"></li>
				<li data-target="#carousel-new" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="row col-md justify-content-between">
						<div class="">
							<div class="card" style="width: 21rem;">
								<img src="http://placeimg.com/640/480/any/grayscale" class="card-img-top" alt="...">
								<div class="card-body" style="color:black;">
									<h5 class="card-title">Card title</h5>
									<p class="card-text">Date</p>
									<div class="row px-1">
										<span class="badge badge-primary my-1">Primary</span>
										<span class="badge badge-primary m-1">Primary</span>
										<span class="badge badge-primary my-1">Primary</span>
									</div>
									<a href="#" class="btn btn-primary my-3">Go somewhere</a>
								</div>
							</div>
						</div>
						<div class="">
							<div class="card" style="width: 21rem;">
								<img src="http://placeimg.com/640/480/any/grayscale" class="card-img-top" alt="...">
								<div class="card-body" style="color:black;">
									<h5 class="card-title">Card title</h5>
									<p class="card-text">Date</p>
									<div class="row px-1">
										<span class="badge badge-primary my-1">Primary</span>
										<span class="badge badge-primary m-1">Primary</span>
										<span class="badge badge-primary my-1">Primary</span>
									</div>
									<a href="#" class="btn btn-primary my-3">Go somewhere</a>
								</div>
							</div>
						</div>
						<div class="">
							<div class="card" style="width: 21rem;">
								<img src="http://placeimg.com/640/480/any/grayscale" class="card-img-top" alt="...">
								<div class="card-body" style="color:black;">
									<h5 class="card-title">Card title</h5>
									<p class="card-text">Date</p>
									<div class="row px-1">
										<span class="badge badge-primary my-1">Primary</span>
										<span class="badge badge-primary m-1">Primary</span>
										<span class="badge badge-primary my-1">Primary</span>
									</div>
									<a href="#" class="btn btn-primary my-3">Go somewhere</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="row col-md-12 justify-content-between">
						<div class="">
							<div class="card" style="width: 21rem;">
								<img src="http://placeimg.com/640/480/any/grayscale" class="card-img-top" alt="...">
								<div class="card-body" style="color:black;">
									<h5 class="card-title">Card title</h5>
									<p class="card-text">Date</p>
									<div class="row px-1">
										<span class="badge badge-primary my-1">Primary</span>
										<span class="badge badge-primary m-1">Primary</span>
										<span class="badge badge-primary my-1">Primary</span>
									</div>
									<a href="#" class="btn btn-primary my-3">Go somewhere</a>
								</div>
							</div>
						</div>
						<div class="">
							<div class="card" style="width: 21rem;">
								<img src="http://placeimg.com/640/480/any/grayscale" class="card-img-top" alt="...">
								<div class="card-body" style="color:black;">
									<h5 class="card-title">Card title</h5>
									<p class="card-text">Date</p>
									<div class="row px-1">
										<span class="badge badge-primary my-1">Primary</span>
										<span class="badge badge-primary m-1">Primary</span>
										<span class="badge badge-primary my-1">Primary</span>
									</div>
									<a href="#" class="btn btn-primary my-3">Go somewhere</a>
								</div>
							</div>
						</div>
						<div class="">
							<div class="card" style="width: 21rem;">
								<img src="http://placeimg.com/640/480/any/grayscale" class="card-img-top" alt="...">
								<div class="card-body" style="color:black;">
									<h5 class="card-title">Card title</h5>
									<p class="card-text">Date</p>
									<div class="row px-1">
										<span class="badge badge-primary my-1">Primary</span>
										<span class="badge badge-primary m-1">Primary</span>
										<span class="badge badge-primary my-1">Primary</span>
									</div>
									<a href="#" class="btn btn-primary my-3">Go somewhere</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="row col-md-12 justify-content-between">
						<div class="">
							<div class="card" style="width: 21rem;">
								<img src="http://placeimg.com/640/480/any/grayscale" class="card-img-top" alt="...">
								<div class="card-body" style="color:black;">
									<h5 class="card-title">Card title</h5>
									<p class="card-text">Date</p>
									<div class="row px-1">
										<span class="badge badge-primary my-1">Primary</span>
										<span class="badge badge-primary m-1">Primary</span>
										<span class="badge badge-primary my-1">Primary</span>
									</div>
									<a href="#" class="btn btn-primary my-3">Go somewhere</a>
								</div>
							</div>
						</div>
						<div class="">
							<div class="card" style="width: 21rem;">
								<img src="http://placeimg.com/640/480/any/grayscale" class="card-img-top" alt="...">
								<div class="card-body" style="color:black;">
									<h5 class="card-title">Card title</h5>
									<p class="card-text">Date</p>
									<div class="row px-1">
										<span class="badge badge-primary my-1">Primary</span>
										<span class="badge badge-primary m-1">Primary</span>
										<span class="badge badge-primary my-1">Primary</span>
									</div>
									<a href="#" class="btn btn-primary my-3">Go somewhere</a>
								</div>
							</div>
						</div>
						<div class="">
							<div class="card" style="width: 21rem;">
								<img src="http://placeimg.com/640/480/any/grayscale" class="card-img-top" alt="...">
								<div class="card-body" style="color:black;">
									<h5 class="card-title">Card title</h5>
									<p class="card-text">Date</p>
									<div class="row px-1">
										<span class="badge badge-primary my-1">Primary</span>
										<span class="badge badge-primary m-1">Primary</span>
										<span class="badge badge-primary my-1">Primary</span>
									</div>
									<a href="#" class="btn btn-primary my-3">Go somewhere</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
<br>
<br>
		{# Carousel Best TM #}
		<h1 class="text-center pt-5">Les meilleurs timelines</h1>
		<div id="carousel-best" class="carousel slide mb-5" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carousel-best" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-best" data-slide-to="1"></li>
				<li data-target="#carousel-best" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner ">
				<div class="carousel-item active">
					<div class="row col-md justify-content-between my-5">
						<div class="">
							<div class="card" style="width: 21rem;">
								<img src="http://placeimg.com/640/480/any/grayscale" class="card-img-top" alt="...">
								<div class="card-body" style="color:black;">
									<h5 class="card-title">Card title</h5>
									<p class="card-text">Date</p>
									<div class="row px-1">
										<span class="badge badge-primary my-1">Primary</span>
										<span class="badge badge-primary m-1">Primary</span>
										<span class="badge badge-primary my-1">Primary</span>
									</div>
									<a href="#" class="btn btn-primary my-3">Go somewhere</a>
								</div>
							</div>
						</div>
						<div class="">
							<div class="card" style="width: 21rem;">
								<img src="http://placeimg.com/640/480/any/grayscale" class="card-img-top" alt="...">
								<div class="card-body" style="color:black;">
									<h5 class="card-title">Card title</h5>
									<p class="card-text">Date</p>
									<div class="row px-1">
										<span class="badge badge-primary my-1">Primary</span>
										<span class="badge badge-primary m-1">Primary</span>
										<span class="badge badge-primary my-1">Primary</span>
									</div>
									<a href="#" class="btn btn-primary my-3">Go somewhere</a>
								</div>
							</div>
						</div>
						<div class="">
							<div class="card" style="width: 21rem;">
								<img src="http://placeimg.com/640/480/any/grayscale" class="card-img-top" alt="...">
								<div class="card-body" style="color:black;">
									<h5 class="card-title">Card title</h5>
									<p class="card-text">Date</p>
									<div class="row px-1">
										<span class="badge badge-primary my-1">Primary</span>
										<span class="badge badge-primary m-1">Primary</span>
										<span class="badge badge-primary my-1">Primary</span>
									</div>
									<a href="#" class="btn btn-primary my-3">Go somewhere</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="row col-md-12 justify-content-between my-5">
						<div class="">
							<div class="card" style="width: 21rem;">
								<img src="http://placeimg.com/640/480/any/grayscale" class="card-img-top" alt="...">
								<div class="card-body" style="color:black;">
									<h5 class="card-title">Card title</h5>
									<p class="card-text">Date</p>
									<div class="row px-1">
										<span class="badge badge-primary my-1">Primary</span>
										<span class="badge badge-primary m-1">Primary</span>
										<span class="badge badge-primary my-1">Primary</span>
									</div>
									<a href="#" class="btn btn-primary my-3">Go somewhere</a>
								</div>
							</div>
						</div>
						<div class="">
							<div class="card" style="width: 21rem;">
								<img src="http://placeimg.com/640/480/any/grayscale" class="card-img-top" alt="...">
								<div class="card-body" style="color:black;">
									<h5 class="card-title">Card title</h5>
									<p class="card-text">Date</p>
									<div class="row px-1">
										<span class="badge badge-primary my-1">Primary</span>
										<span class="badge badge-primary m-1">Primary</span>
										<span class="badge badge-primary my-1">Primary</span>
									</div>
									<a href="#" class="btn btn-primary my-3">Go somewhere</a>
								</div>
							</div>
						</div>
						<div class="">
							<div class="card" style="width: 21rem;">
								<img src="http://placeimg.com/640/480/any/grayscale" class="card-img-top" alt="...">
								<div class="card-body" style="color:black;">
									<h5 class="card-title">Card title</h5>
									<p class="card-text">Date</p>
									<div class="row px-1">
										<span class="badge badge-primary my-1">Primary</span>
										<span class="badge badge-primary m-1">Primary</span>
										<span class="badge badge-primary my-1">Primary</span>
									</div>
									<a href="#" class="btn btn-primary my-3">Go somewhere</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="row col-md-12 justify-content-between my-5">
						<div class="">
							<div class="card" style="width: 21rem;">
								<img src="http://placeimg.com/640/480/any/grayscale" class="card-img-top" alt="...">
								<div class="card-body" style="color:black;">
									<h5 class="card-title">Card title</h5>
									<p class="card-text">Date</p>
									<div class="row px-1">
										<span class="badge badge-primary my-1">Primary</span>
										<span class="badge badge-primary m-1">Primary</span>
										<span class="badge badge-primary my-1">Primary</span>
									</div>
									<a href="#" class="btn btn-primary my-3">Go somewhere</a>
								</div>
							</div>
						</div>
						<div class="">
							<div class="card" style="width: 21rem;">
								<img src="http://placeimg.com/640/480/any/grayscale" class="card-img-top" alt="...">
								<div class="card-body" style="color:black;">
									<h5 class="card-title">Card title</h5>
									<p class="card-text">Date</p>
									<div class="row px-1">
										<span class="badge badge-primary my-1">Primary</span>
										<span class="badge badge-primary m-1">Primary</span>
										<span class="badge badge-primary my-1">Primary</span>
									</div>
									<a href="#" class="btn btn-primary my-3">Go somewhere</a>
								</div>
							</div>
						</div>
						<div class="">
							<div class="card" style="width: 21rem;">
								<img src="http://placeimg.com/640/480/any/grayscale" class="card-img-top" alt="...">
								<div class="card-body" style="color:black;">
									<h5 class="card-title">Card title</h5>
									<p class="card-text">Date</p>
									<div class="row px-1">
										<span class="badge badge-primary my-1">Primary</span>
										<span class="badge badge-primary m-1">Primary</span>
										<span class="badge badge-primary my-1">Primary</span>
									</div>
									<a href="#" class="btn btn-primary my-3">Go somewhere</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>


{% endblock %}
